<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    header {
        width: 100%;
        font-size: 1.7rem;
        text-align: center;
        margin-bottom: 2rem;
        font-weight: bolder;
    }

    body {
        background-color: lightblue;
    }

    section {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
    }

    input {
        width: 100%;
        height: 30px;
        padding: 15px;
        margin-bottom: 1.2rem;
        border-radius: 8px;
        border: 1px solid black;
        color: black;
        font-size: 1.3rem;
    }

    .btn {
        padding: 0;
        background-color: darkred;
        color: white;
        
        transition: all .2s ease;
    }

    .btn:hover {
        transform: translateY(-5px);
        background-color: red;
    }
    </style>
</head>
<body>
    {{{body}}}
</body>
</html>